ActorsSOAP/WebContent/wsdl/Actor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://actor" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://actor" xmlns:intf="http://actor" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://actor" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAllMoviesByTitleLike">
    <complexType>
     <sequence>
      <element name="searchText" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllMoviesByTitleLikeResponse">
    <complexType>
     <sequence>
      <element name="getAllMoviesByTitleLikeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertActor">
    <complexType>
     <sequence>
      <element name="actorName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertActorResponse">
    <complexType>
     <sequence>
      <element name="insertActorReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addActor">
    <complexType>
     <sequence>
      <element name="actor" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addActorResponse">
    <complexType>
     <sequence>
      <element name="addActorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getActors">
    <complexType>
     <sequence>
      <element name="actorName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getActorsResponse">
    <complexType>
     <sequence>
      <element name="getActorsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllMoviesByTitleLikeRequest">

      <wsdl:part element="impl:getAllMoviesByTitleLike" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertActorResponse">

      <wsdl:part element="impl:insertActorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getActorsRequest">

      <wsdl:part element="impl:getActors" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addActorResponse">

      <wsdl:part element="impl:addActorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getActorsResponse">

      <wsdl:part element="impl:getActorsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllMoviesByTitleLikeResponse">

      <wsdl:part element="impl:getAllMoviesByTitleLikeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertActorRequest">

      <wsdl:part element="impl:insertActor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addActorRequest">

      <wsdl:part element="impl:addActor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Actor">

      <wsdl:operation name="getAllMoviesByTitleLike">

         <wsdl:input message="impl:getAllMoviesByTitleLikeRequest" name="getAllMoviesByTitleLikeRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllMoviesByTitleLikeResponse" name="getAllMoviesByTitleLikeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertActor">

         <wsdl:input message="impl:insertActorRequest" name="insertActorRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertActorResponse" name="insertActorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addActor">

         <wsdl:input message="impl:addActorRequest" name="addActorRequest">

       </wsdl:input>

         <wsdl:output message="impl:addActorResponse" name="addActorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getActors">

         <wsdl:input message="impl:getActorsRequest" name="getActorsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getActorsResponse" name="getActorsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ActorSoapBinding" type="impl:Actor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllMoviesByTitleLike">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllMoviesByTitleLikeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllMoviesByTitleLikeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertActor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertActorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertActorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addActor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addActorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addActorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getActors">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getActorsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getActorsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ActorService">

      <wsdl:port binding="impl:ActorSoapBinding" name="Actor">

         <wsdlsoap:address location="http://localhost:8080/ActorsSOAP/services/Actor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
